[Unit]
Description=Go Ethereum Node
After=network.target

[Service]
User=ether
Group=ether
ExecStart=/usr/bin/geth --nousb --rpc --ws
TimeoutStopSec=5m
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
