[Unit]
Description=Parity Ethereum Node
After=network.target

[Service]
User=ether
Group=ether
ExecStart=/usr/local/bin/parity \
	--no-download \
	--no-hardware-wallets \
	--accounts-refresh=0 \
	--no-secretstore \
	--no-color \
	--jsonrpc-hosts=all \
	--ws-hosts=all
TimeoutStopSec=2m
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
